@import "_reset.scss";

ul {
  margin: 0;
  padding: 0;
}

.div-2 {
  width: 100%;
}

.div_margen {
  height: 4em;
  width: 100%;
}

.Contenedor-fantasma {
  display: none;

  background-color: rgba(73, 62, 62, 0);
  color: rgb(255, 255, 255);
  position: sticky;
  padding: 0;
  top: 0;
  bottom: 0;
  width: 12em;

  border-right: 4px solid #ffffffa5;
  &__ul {
    margin-top: 6em;
    position: sticky;
    top: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1em;
  }
  &__padre {
    width: 1.7em;
    height: 1.8;
    position: fixed;
    z-index: 999999999999999999;
    display: flex;
    transform: rotate(90deg);

    justify-content: space-between;
    top: 1em;
    left: 1em;

    background-color: transparent;

    &:hover {
      background-color: #00000031;
    }
    &--uno {
      width: 0.2em;
      height: 1.8em;
      background-color: red;
      transform-origin: bottom right;
      transform: rotate(28deg);
    }
    &--dos {
      width: 0.2em;
      height: 1.8em;
      background-color: red;
      transform-origin: bottom right;
      transform: rotate(332deg);
    }
    &--tres {
      width: 0.2em;
      height: 1.8em;
      background-color: red;
    }
  }

  li {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom: 2em;
    :hover {
      background-color: #0000001b;
    }
  }

  a {
    display: inline-block;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border: none;
    color: #000;
    width: 10em;
  
  }
}

.Contenedor-fantasma__hamburguesa {
  position: fixed;
  top: 1em;
  left: 1em;
  height: 5em;
  width: 2em;
  z-index: 9999999999999;
  background-color: transparent;
  appearance: none;
  cursor: pointer;
}

.visible {
  display: block;
}

body {
  display: flex;
}
